footer.footer
  .footer__title Stack
  .footer-wrap
    p.footer__text Pug (html)
    p.footer__text SCSS (css)
    p.footer__text Vue.js (JavaScript)
    p.footer__text webpack, gulp
    p.footer__text npm, git, figma, ps, <br>ai and much more