extends ../template
block title
  | rybakov.codes
block content
  include ../common/header
  main.main
    img(src="assets/images/pixel-man.gif", alt="Рыбаков Александр").main__img
    .main-desc
      h1.main-desc__title Рыбаков Александр
      p.main-desc__text Фронтенд-разработчик в компании РА-Студио <br>Санкт-Петербург
  include ../common/footer