<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="yandex-verification" content="46f0351a1e2930ed")
    script(type="text/javascript" src="assets/scripts/metrika.js")
    <noscript><div><img src="https://mc.yandex.ru/watch/58500049" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    link(rel="stylesheet", href="assets/styles/app.min.css")
    script(src="assets/scripts/main.js")
    title 
      block title
  body
    block content