.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.main{
  display: flex;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  &__img{
    max-width: 832px;
    //margin-left: -220px;
  }
  &-desc{
    flex: 1;
    &__title{
      font-size: 36px;
      line-height: 150%;
      margin-bottom: 32px;
      color: #FFFFFF;
    }
    &__text{
      font-size: 14px;
      line-height: 200%;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

@media screen and (max-width: 1200px){
  
  .main{
    &__img{
      margin-left: -220px;
    }
  }
}
@media screen and (max-width: 1023px){
  
  .main{
    display: block;
    padding: 20px;
    &__img{
      margin-left: 0;
      max-width: 650px;
      margin-bottom: 24px;
    }
    &-desc{
      &__title{
        font-size: 30px;
      }
    }
  }
}



@media screen and (max-width: 767px){
  .main{
    &__img{
      width: calc(100% + 20px);
      margin-left: -20px;
    }
    &-desc{
      &__title{
        font-size: 24px;
        margin-bottom: 16px;
      }
      &__text{
        font-size: 12px;
      }
    }
  }
}