.footer{
  padding: 30px 40px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  &__title{
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  &-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__text{
    display: block;
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.75);
  }
}



@media screen and (max-width: 1023px){
  
  .footer{
    padding: 20px;
    &__title{
    }
    &-wrap{
      flex-wrap: wrap;
      margin: -12px 0;
    }
    &__text{
      width: calc(100% / 3);
      margin: 12px 0;
      &:last-child{
        width: calc(100% / 3 * 2);
        br{
          display: none;
        }
      }
    }
  }
}


@media screen and (max-width: 767px){
  .footer{
    &-wrap{
      display: block;
    }
    &__text{
      width: auto !important;
    }
  }
}